<header>
  <a [routerLink]="['/dashboard']">
    <img
      src="https://i.ibb.co/C0MZXFR/sweethomefinance-logo.png"
      alt="Sweet Home Finance Logo"
    />
  </a>
</header>

<div class="container">
  <div class="row">

    <div class="col-1"></div>

    <div class="col-2">
      <app-navigation></app-navigation>
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-8582244476042689"
        data-ad-slot="2803079237"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
    </div>

    <div class="col-6">
        <router-outlet></router-outlet>
    </div>

    <div class="col-2">
      <app-marketinfo></app-marketinfo>
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-8582244476042689"
        data-ad-slot="3398330821"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
    </div>

    <div class="col-1"></div>

  </div>
</div>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
