header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 10vh;
        height: 10vh;
    }
}

.col-6{
    margin-left: 5%;
    margin-right: 5%;
}