<nav>
    <a routerLinkActive="active"  routerLink="/dashboard/articles"><button>Dashboard</button></a>
    <!-- <a routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" routerLink="/dashboard"><button>Dashboard</button></a> -->
   <!--  <a routerLinkActive="active" routerLink="/dashboard/articles"> <button>Articles</button> </a> -->
    <!-- <a routerLinkActive="active" routerLink="/dashboard/moneydata"><button>MoneyData</button> </a> -->
    <!-- <a routerLinkActive="active" routerLink="/dashboard/authors"><button>Links</button> </a> -->
</nav>