<footer>
  <div class="container">
    <div class="row">
      <!-- <div class="col-4">
        <a routerLink="/dashboard/authors">Authors</a>
      </div>
      <div class="col-4">
        <a routerLink="/dashboard/newsletter">Newsletter</a>
      </div> -->
      <div class="col-4">
        <a routerLink="/dashboard/impressum">Impressum</a>
      </div>
      <div class="col-4">
        <a routerLink="/dashboard/socialmedia">Socialmedia</a>
      </div>
    </div>
  </div>
  <!-- <div class="language">
    <div class="row">
      <button>EN</button>
      <button>ES</button>
      <button>FR</button>
      <button>DE</button>
      <button>IT</button>
    </div>
  </div> -->
</footer>
